

<%-include('../partials/admin/header')%>



<!--Container Main start-->
<div class="height-100 bg-light">
   
   <div class="container">
      <h4> 
         Add new Category
      </h4>
        <%if(locals.err){%>
            <div style="color: red;"><%=locals.err%></div>
        <%}%>
      <form action="/admin/addCate" method="post" onsubmit="return validateForm()">
         <div class="form-group">
             <label for="exampleInputEmail1">Category Name</label>
             <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Category name" name="categoryName" required>
             <small id="emailHelp" class="form-text text-muted">Add new categories here.</small>
         </div>
         <div class="mt-2">
             <a href="/admin/category"><button type="button" class="btn btn-outline-danger m-2">Cancel</button></a>
             <button type="submit" class="btn btn-primary">Submit</button>
         </div>
     </form>
   </div>

   
</div>
<!--Container Main end-->

<script>
   function validateForm() {
       var categoryName = document.getElementById('exampleInputEmail1').value;

       
       if (categoryName.trim() === '') {
           alert('Category name cannot be empty or contain only whitespace.');
           return false; 
       }

       return true; 
   }
</script>




<%-include('../partials/admin/footer')%>